<table v-bind:class="configuration.className">
    <thead>
        <th v-for="(column, index) in columns">
            <div>
                <i v-show="isPosssibleLeft(columns, column.name, index)"  class="glyphicon glyphicon-triangle-left left" v-on:click="moveColumn('left', column.name)"></i>
                <a class="th-sort" v-on:click="sorted(column)">
                    {{column.title}}
                </a>
                <span class="sort-caret-span" v-bind:class="{'dropup' : activeSorted.dir == 'asc'}">
                    <span class="caret"></span>
                </span>
                <i v-show="isPosssibleRight(columns, column.name, index)" class="glyphicon glyphicon-triangle-right right" v-on:click="moveColumn('right', column.name)"></i>
            </div>
        </th>
    </thead>
    <tbody>
        <tr v-for="$value in configuration.data">
            <td v-for="column in columns">
                <span v-show="!column.content">
                    {{$value[column.name]}}
                </span>
                <span v-show="column.content">dsfds</span>
            </td>
        </tr>
    </tbody>
</table>
<!--
function generateHeaderColumns(columnsArray = [], hasCheckbox = true, tableId) {
    return columnsArray.reduce((prev, next, index) => {
      return prev += `
          <th ng-init="ctrl.checkResizer()" id="${tableId}-${next.name}" style="${next.style ? next.style+';' : ''}text-align: ${next.alignColumn}; white-space: normal; {{ctrl.listConfig.fixed && ctrl.listConfig.fixed.left ? '' : 'z-index: 1;'}}" class="${next.size || ' '}">
            <i ng-show="ctrl.isPosssibleLeft('${next.name}', ${index})"  class="glyphicon glyphicon-triangle-left left" ng-click="ctrl.moveColumn('left', '${next.name}')"></i>
            <strong>
              ${formatTableHeader(next.sortField, next.title)}
            </strong>
            <i ng-show="ctrl.isPosssibleRight('${next.name}', ${index})" class="glyphicon glyphicon-triangle-right right" ng-click="ctrl.moveColumn('right', '${next.name}')"></i>
          </th>
          `
    }, ' ')
  }
-->